@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


*{

	padding:0;
	box-sizing: border-box;
}



.header-tag h1{
font-family: 'Poppins', sans-serif;
color:#606060;
}

.button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin-top:15px;
  cursor: pointer;
}



.button:hover{
background-color:RoyalBlue;


}

.definition{


font-family: 'Poppins', sans-serif;
width:950px;
margin-bottom:20px!important;

}

.intro{
background:#b3ffff;
margin-top:25px;
padding-top:15px;
padding-bottom:3px;
padding-left:10px;
border-left:6px solid #4285F4;
}

.editor1{
margin-top:20px;
border-bottom :50px solid #f1f1f1;
border-left:20px solid #f1f1f1;
border-top :50px solid #f1f1f1;
border-right:20px solid #f1f1f1;


}




#editor {
 height:150px;
 top: 0;
  overflow-y: hidden;
 right:0;
 bottom: 0;
left: 0;
border-left:6px solid #4285F4;
border-right:6px solid #4285F4;

}

#editor1{
 height:150px;
 top: 0;
  overflow-y: hidden;
 right:0;
 bottom: 0;
left: 0;
border-left:6px solid #4285F4;
border-right:6px solid #4285F4;

}


.res{
margin:0;
}

.definition p{
 font-size:20px;

}


.codeTag{

margin-top:25px;
margin-top:25px;
padding-top:15px;
padding-bottom:3px;
padding-left:10px;
}

.bt{
margin-top:15px;
justify-content:around;
}

@media only screen and (max-width: 1295px) {

.definition{

 width:820px;
}


}


@media only screen and (max-width: 1284px) {

.definition{

 width:800px;
}


}


@media only screen and (max-width: 1237px) {

.definition{

 width:750px;
}


}

@media only screen and (max-width: 1188px) {

.definition{

 width:700px;
}


}

@media only screen and (max-width: 1138px) {

.definition{

 width:650px;
}


}

@media only screen and (max-width: 1089px) {

.definition{

 width:600px;
}


}

@media only screen and (max-width: 1039px) {

.definition{

 width:550px;
}


}


@media only screen and (max-width: 768px) {



.res{

  margin-left:10px;
}


}



@media only screen and (max-width: 724px) {

.definition{

 width:500px;
}




}



@media only screen and (max-width: 663px) {

.definition{

 max-width:100%;
}


}


@media only screen and (max-width: 662px) {

.definition{

 max-width:100%;
}
.res{
margin-left:10px;

}

.container3{

 margin-left:10px;
}


}


@media only screen and (max-width: 659px){

.definition{
width:620px;
}

}

@media only screen and (max-width: 648px){

.definition{
width:600px;
}

}
@media only screen and (max-width: 627px){

.definition{
width:580px;
}

}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.header-tag h1{

color:#606060;
}

.button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin-top:15px;
  cursor: pointer;
}



.button:hover{
background-color:RoyalBlue;


}

.definition{
width:950px;
}

.intro{
background:#b3ffff;
color:#606060;
margin-top:25px;
padding-top:15px;
padding-bottom:3px;
padding-left:10px;
border-left:6px solid #4285F4;
}

.editor1{
margin-top:20px;
border-bottom :1px solid #f1f1f1;
border-left:20px solid #f1f1f1;
border-top :50px solid #f1f1f1;
border-right:20px solid #f1f1f1;


}


#editor {
 height:100px;
 top: 0;
  overflow-y: hidden;
 right:0;
 bottom: 0;
left: 0;
border-left:6px solid #4285F4;
border-right:6px solid #4285F4;

}



#editor1,#editor2,#editor3,#editor4,#editor5,#editor6{
 height:30px;
 top: 0;
  overflow-y: hidden;
 right:0;
 bottom: 0;
left: 0;
border-left:6px solid #4285F4;
border-right:6px solid #4285F4;

}




.res{
margin:0;
}

.definition p{
 font-size:20px;

}


.codeTag{
background:#ffe4c4;
margin-top:25px;
padding-top:15px;
padding-bottom:3px;
margin-bottom:-30px;
padding-left:10px;


}

.button3{
background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-top:10px;
  margin-left:20px;
}
.output-button{
height:51px;
background:#f1f1f1;
}

.output-button button:hover{
text-decoration:none;
color:white;
background:royalblue;
}

.output-showing{

background:#b3ffff;

margin-top:25px;
padding-top:15px;
padding-bottom:3px;
padding-left:10px;
border-left:6px solid #4285F4;

}

.output-showing h5{
color:#4285F4;
font-size:17px;
font-family: 'Poppins', sans-serif;
letter-spacing:2px;
}

.output-showing h6{
margin-top:5px;
margin-bottom:10px;
font-weight:bold;
font-size:15px;
font-family: 'Poppins', sans-serif;
letter-spacing:1px;


}


.output-showing p{


font-size:16px;
font-family: 'Poppins', sans-serif;
letter-spacing:1px;


}

.output-showing span{


font-size:16px;
font-family: 'Poppins', sans-serif;
letter-spacing:1px;
color:red;


}


.output-showing i{
color:#ffbf00;
}


@media only screen and (max-width: 1295px) {

.definition{

 width:820px;
}


}


@media only screen and (max-width: 1284px) {

.definition{

 width:800px;
}


}


@media only screen and (max-width: 1237px) {

.definition{

 width:750px;
}


}

@media only screen and (max-width: 1188px) {

.definition{

 width:700px;
}


}

@media only screen and (max-width: 1138px) {

.definition{

 width:650px;
}


}

@media only screen and (max-width: 1089px) {

.definition{

 width:600px;
}


}

@media only screen and (max-width: 1039px) {

.definition{

 width:550px;
}


}


@media only screen and (max-width: 768px) {



.res{

  margin-left:10px;
}


}



@media only screen and (max-width: 724px) {

.definition{

 width:500px;
}




}



@media only screen and (max-width: 663px) {

.definition{

 max-width:100%;
}


}


@media only screen and (max-width: 662px) {

.definition{

 max-width:100%;
}
.res{
margin-left:10px;

}

.container3{

 margin-left:10px;
}


}


@media only screen and (max-width: 659px){

.definition{
width:620px;
}

}

@media only screen and (max-width: 648px){

.definition{
width:600px;
}

}
@media only screen and (max-width: 607px){

.definition{
width:560px;
}

}


@media only screen and (max-width: 588px){

.definition{
width:520px;
}

}

@media only screen and (max-width: 547px){

.definition{
width:500px;
}

}


@media only screen and (max-width: 528px){

.definition{
width:480px;
}

}

@media only screen and (max-width: 509px){

.definition{
width:460px;
}

}

@media only screen and (max-width: 488px){

.definition{
width:440px;
}

}

@media only screen and (max-width: 467px){

.definition{
width:420px;
}

}

@media only screen and (max-width: 447px){

.definition{
width:400px;
}

}


@media only screen and (max-width: 428px){

.definition{
width:380px;
}

}


@media only screen and (max-width: 407px){

.definition{
width:360px;
}

}

@media only screen and (max-width: 388px){

.definition{
width:340px;
}

}

@media only screen and (max-width: 368px){

.definition{
width:320px;
}

}


@media only screen and (max-width: 348px){

.definition{
width:300px;
}

}


@media only screen and (max-width: 328px){

.definition{
width:280px;
}

}

@media only screen and (max-width: 308px){

.definition{
width:260px;
}

}

@media only screen and (max-width: 288px){

.definition{
width:240px;
}

}


@media only screen and (max-width: 268px){

.definition{
width:220px;
}

}

@media only screen and (max-width: 248px){

.definition{
width:200px;
}

}

@media only screen and (max-width: 228px){

.definition{
width:180px;
}

}





