*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.header-tag h1{

color:#606060;
}

.button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin-top:15px;
  cursor: pointer;
}

.card3 {
  /* Add shadows to create the "card" effect */

}

/* On mouse-over, add a deeper shadow */
.card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.button:hover{
background-color:RoyalBlue;


}

.definition{



width:950px;

}

.intro{
background:#b3ffff;
margin-top:25px;
padding-top:15px;
padding-bottom:3px;
padding-left:10px;
border-left:6px solid #4285F4;
}

.editor1{
margin-top:20px;
border-bottom :50px solid #f1f1f1;
border-left:20px solid #f1f1f1;
border-top :50px solid #f1f1f1;
border-right:20px solid #f1f1f1;



}


#editor {
 height:150px;
 top: 0;
  overflow-y: hidden;
 right:0;
 bottom: 0;
left: 0;
border-left:6px solid #4285F4;
border-right:6px solid #4285F4;

}


.res{
margin:0;
}

.definition p{
 font-size:20px;

}


@media only screen and (max-width: 1295px) {

.definition{

 width:820px;
}


}


@media only screen and (max-width: 1284px) {

.definition{

 width:800px;
}


}


@media only screen and (max-width: 1237px) {

.definition{

 width:750px;
}


}

@media only screen and (max-width: 1188px) {

.definition{

 width:700px;
}


}

@media only screen and (max-width: 1138px) {

.definition{

 width:650px;
}


}

@media only screen and (max-width: 1089px) {

.definition{

 width:600px;
}


}

@media only screen and (max-width: 1039px) {

.definition{

 width:550px;
}


}


@media only screen and (max-width: 768px) {



.res{

  margin-left:10px;
}


}



@media only screen and (max-width: 724px) {

.definition{

 width:500px;
}




}



@media only screen and (max-width: 663px) {

.definition{

 max-width:100%;
}


}


@media only screen and (max-width: 662px) {

.definition{

 max-width:100%;
}
.res{
margin-left:10px;

}

.container3{

 margin-left:10px;
}


}

@media only screen and (max-width: 518px) {

.definition{

 width:400px;
}
}


@media only screen and (max-width: 516px) {

.definition{

 width:350px;
}


}


@media only screen and (max-width: 362px) {

.definition{

 width:300px;
}


}



@media only screen and (max-width: 313px) {

.definition{

 width:100%;
}


}




