
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,900;1,400&display=swap');



* {
	box-sizing: border-box;
}


.lgo h1{
font-family: 'Source Code Pro', monospace;
font-weight:900;
}

.lgo{
font-family: 'Source Code Pro', monospace;
font-weight:900;
cursor:pointer;
}


.lgo span{
background: #ff9933;
color:white;
border-radius:7px;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	height: 90vh;
	margin: 20px 0 50px;
}

.h11 {
	color: #32a3b1;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.h12{
	color: #32a3b1;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 26px;

}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.button1 {
	border-radius: 20px;
	border: 1px solid #ffffff;
	background-color: #4285F4;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

 button:active {
	transform: scale(0.95);
}

 button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.form1 {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background: #ebf5fc;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	color:#32a3b1;
	font-size: 15px;
}

.container {
display:none;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #4285F4;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {

	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 7px;
	height: 40px;
	width: 40px;
}


.forget{
	margin-top: 30px;
	color:#555;
}

.forget a{
	color:#ff0047;
}



.container2{

	display: block;

    background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;

	width: 480px;
	max-width: 100%;
	min-height: 540px;
	margin:  auto;
    padding: 5px;
    overflow: hidden;
    justify-content: center;
	align-items: center;
}

.button-box{
top:-15px;
width:223px;
margin: 30px auto;
position:relative;
box-shadow: 0 0 20px 9px #4285F44f;
border-radius: 8px;
}

.toggle-btn{
padding: 10px 30px;
cursor:pointer;
background: transparent;
border:0;
outline:none;
position: relative;
}

#btn{
top: 0;
left:0;
position: absolute;
width:110px;
height:100%;
background: linear-gradient(to right,  #4285F4, #4285F4);
border-radius: 8px;
transition: .5s;
color:#fff;

}


.social-icons{
margin: -20px auto;
text-align: center;
margin-top:10px;


}

.social-icons a{

	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 7px;
	height: 40px;
	width: 40px;
	font-size:30px;
}


.h13 {
	color: #32a3b1;
	font-weight: 500;
	margin-left: 50px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.h14{
	color: #32a3b1;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 26px;


}

.input-group{

	top:180px;
	position: absolute;
	width:280px;
	transition: .5s;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top:60px;
}

.input-field{

	width:100%;
	padding: 10px;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right:0;
	outline:none;



}

.submit-btn{
width:65%;
cursor:pointer;

}

#login{

left:100px;

}

#signup{
	left:480px;
}



.button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:20px;
  margin-top:15px;
  cursor: pointer;
}

.button:hover{
background-color:RoyalBlue;
color:#fff;


}

.home1{
margin-top:;
}

.home1 a:hover{
text-decoration:none;

}

.card3 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);

}

/* On mouse-over, add a deeper shadow */
.card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}



.logo{
margin-top:-20px;
margin-left:180px;

}



@media only screen and (max-width: 800px) {

	.container{
		width:90%;
	}

	.social-container{

		margin:0px;
	}

	.social-container a {


	margin: 0px;
	height: 40px;
	width: 40px;
	padding:25px
}

input {

	margin-right: 0px;
	margin-left: 0px;
	width:120%;
}

.h12{
	font-size: 20px;
	letter-spacing: 1px;

}

 .overlay-pannel{

 	display:table-row;

 }




}



@media only screen and (max-width: 800px) {

	.container{
		width:80%;
	}

	.social-container{

		margin:0px;
	}

.social-container a {


	font-size:30px;
	padding:20px
}

input {

	margin-right: 0px;
	margin-left: 0px;
	width:150%;
}

.h12{
	font-size: 17px;
	letter-spacing: 1px;

}

.h11{
	font-size:25px;
}

 .overlay-pannel{

 	display:table-row;

 }

 button{
 	margin-top:5px;
 }

  .forget{

  	font-size:13px
}

.forget a{

	font-size:11px

}

}





@media only screen and (max-width: 700px) {

	.container{
		display:none;
	}
	.container2{

          display:block;

	}


}





@media only screen and (max-width: 500px) {


	.container2{

           width:450px;
	}
.input-group{
	  margin-left:-20px;
	}


	.logo{

		margin-left:165px;

	}
}



@media only screen and (max-width: 472px) {


	.container2{

           width:400px;
	}
.input-group{
	  margin-left:-40px;
	}


	.logo{

		margin-left:140px;

	}
}




@media only screen and (max-width: 422px) {

.container2{

           width:370px;
	}
.input-group{
	  margin-left:-55px;
	}


	.logo{

		margin-left:125px;

	}
}



@media only screen and (max-width: 389px) {

.container2{

           width:340px;
	}
.input-group{
	  margin-left:-70px;
	}


	.logo{

		margin-left:108px;

	}
}



@media only screen and (max-width: 361px) {

.container2{

           width:300px;
	}
.input-group{
	  margin-left:-90px;
	}


	.logo{

		margin-left:80px;

	}
}







@media only screen and (max-width: 324px) {


	.container2{

           width:290px;
	}

	.input-group{
	  margin-left:-95px;
	}

	.input-field{
	max-width:100%;

	}




}


@media only screen and (max-width: 321px) {


	.container2{

           width:290px;
	}



	.input-field{
	max-width:100%;

	}

	.home1{
		margin-top:100px;
	}

}



@media only screen and (max-width: 292px) {


	.container2{

           width:270px;
	}

.input-group{
	  margin-left:-100px;

	}

	.input-field{
	width:100%;

	}

	.social-icons a{
		font-size:25px;
		margin:2px;

	}


}



@media only screen and (max-width: 272px) {


	.container2{

           width:240px;
	}

.input-group{
	  margin-left:-100px;

	}

	.input-field{
	width:100%;

	}

	.social-icons a{
		font-size:25px;
		margin:2px;

	}

	.logo{

		margin-left:60px;

	}

	.button1{
		margin-right:40px
	}


}



@media only screen and (max-width: 240px) {



	.container2{

           min-height:400px;
	}

.input-group{
	  margin-left:-120px;
	  margin-top:20px;

	}

	.input-field{
	width:70%;

	}

	.social-icons{
		margin-top:-5px
	}

	.social-icons a{
		font-size:20px;
		margin:0px;

	}

	.logo{



	}

	.button1{
		margin-right:10px

	}



.forget{
		margin-top:-1px;

	}





}





