.mainpart{

    margin-top: 70px;

    margin-left: 270px;

}

.sidenav{
    height: 100%;
    top:49px;
    bottom: 0;
    width:0px;
    position: fixed;
    left: 0;
    z-index: 1;
    background-color: #f1f1f1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    overflow: auto;
    transition: all 0.5s;
}

.sidenav a{
  text-decoration: none;
    font-size: 17px;
    color:#000;
    display: block;
    padding: 10px 16px;/* top right bottom left*/

}


.sidenav a:hover{
    background-color:skyblue;

}
.closebtn a:hover{
    color:red !important;
}

.sidenav1{
    height: 100%;
    top:49px;
    bottom: 0;
    width:250px;
    position: fixed;
    left: 0;
    z-index: 1;
    background: #f1f1f1 ;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    overflow: auto;

}

.sidenav1 a{
  text-decoration: none;
    font-size: 17px;
    color:#000;
    display: block;
   padding: 10px 16px;/* top right bottom left*/

}

.sidenav1 a:hover{
    background:skyblue;


}

.active1{
    background-color:#0d47a1;
    color:white !important;
}









.closebtn{
    position: absolute;
    top: -9px;
    right:2px;
    font-size: 30px !important;
    display: none !important;
    padding-bottom: 5px !important;
}

@media only screen and (max-width: 992px) {
    .sidenav1{
        width: 0px;

    }
    .mainpart{
        margin-left: 0px !important;

    }

    .closebtn{
        display: block !important;
    }

}
@media only screen and (min-width: 992px) {
    .sidenav{
        width: 0px!important;

    }


}

