{% extends 'Basics/Basic javaScript.html' %}

{% load static %}

{% block title %} javaScript intro {% endblock %}

{% block javaScript %} <a href="{% url 'JavascriptIntro' %}" class="navItem lg2 active">JavaScript</a>{% endblock %}

{% block jsintro1 %}<a href="{% url 'JavascriptIntro' %}" class="active1">JS Introduction</a>{% endblock %}
{% block jsintro2 %}<a href="{% url 'JavascriptIntro' %}" class="active1">JS Introduction</a>{% endblock %}


{% block header-tag %} Introduction to javaScript {% endblock %}

{% block prev-next %}
<a href="#" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
<a href="{% url 'javascriptVariables' %}"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
{% endblock %}



{% block definition %}


<div class="intro">
    <p>Javascript is a scripting language .</p>
</div>
<div class="codeTag">
    <p><i class='fa fa-angle-double-right'></i> Javascript is a language which process the HTML element to make page more attractive and powerful.</p>
    <p><i class='fa fa-angle-double-right'></i> It's enhanced the understandability of a page and makes dynamic.</p>
</div>



<div class="content">
    <p><i class='fa fa-angle-double-right'></i> There different ways to write javascript code but we are in very basic stage so, let's start with basic.</p>
    <p><i class='fa fa-angle-double-right'></i> We can write javascript code within the HTML code by using <span style="color: green;" id="script2"></span> tag example is given below.</p>
</div>



<h3 style="margin-bottom:-20px;">Example</h3>
<div class="editor1">
<div  id="editor1" style="height:350px;"><textarea><!DOCTYPE html>
<html>
<body>

<h1>My First Javascript program</h1>

<p>By using script tag you can write javascript code in HTML code</p>

<script>

console.log('Hello World');

</script>

</body>
</html></textarea></div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log">
  <div class="output-showing">
    <h5>OUTPUT</h5>

      <h6>Hello World</h6>
      <p>This output will only showing the only string which is present in <span>"console.log('Hello World');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>




<div class="editor1">
<div  id="editor2">
console.warn('This is warning');
</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.warn" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.warn">
  <div class="output-showing">
    <h5>OUTPUT</h5>

      <h6><i class="fa fa-exclamation-triangle"></i> <span style="color:#ffd11a;">This is warning</span></h6>
      <p>This output will only showing the only string which is present in <span>"console.warn('This is warning');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>


<div class="editor1">
<div  id="editor3">
console.log(34 + 4);
</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log1" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log1">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6 style="color:blue;">38</h6>
      <p>This output will only showing the only string which is present in <span>"console.log(34 + 4);".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>





<div class="editor1">
<div  id="editor4">
console.error('This is an error');
</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log2" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log2">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6 style="color:red;"><i class="fa fa-times-circle" style="color:red;"></i> This is an error</h6>
      <p>This output will only showing the only string which is present in <span>"console.error('This is an error');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>



<div class="editor1">
<div  id="editor5">
console.log([34,3,2,1,]);
</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log3" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log3">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6>Array(4)</h6>

      <h6 style="color:purple;">0: <span style="color:blue;">34</span></h6>
      <h6 style="color:purple;">1: <span style="color:blue;">3</span></h6>
      <h6 style="color:purple;">2: <span style="color:blue;">2</span></h6>
      <h6 style="color:purple;">3: <span style="color:blue;">1</span></h6>
      <h6 style="color:purple;">length: <span style="color:blue;">4</span></h6>

      <p>This output will only showing the only string which is present in <span>"console.log([34,3,2,1,])".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>



<div class="editor1">
<div  id="editor6" style="height:100px;">
console.log({harry:'this',marks:34});

console.table({harry:'this',marks:34});
</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log4" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log4">
  <div class="output-showing">
    <h5>OUTPUT</h5>

     <h6 style="color:purple;">harry: "<span style="color:red;">this</span>"</h6>
      <h6 style="color:purple;">marks: <span style="color:blue;">34</span></h6>

       <p>Both output will be same</p>
      <p>This output will only showing the only string which is present in <span>"console.error('This is an error');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>





<div class="editor1">
<div  id="editor">function alertFunction {
	alert('Hi! Buddy this is alert box');
}

alertFunction();</div>


</div>
<div class="output-button">
    <div class="">
	<button class="button3"  onclick="alertFunction()"><i class="fa fa-angle-double-up" aria-hidden="true"></i> Get output</button>

</div>
</div>

{% endblock %}



{% block prev-next2 %}
<a href="#" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
<a href="{% url 'javascriptVariables' %}"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
{% endblock %}
