{% extends 'Basics/Basic javaScript.html' %}

{% load static %}

{% block title %} javaScript Array {% endblock %}

{% block javaScript %} <a href="{% url 'JavascriptIntro' %}" class="navItem lg2 active">JavaScript</a>{% endblock %}

 {% block jsarray1 %}<a href="{% url 'jsArray' %}" class="active1">JS Array</a>{% endblock %}
 {% block jsarray2 %}<a href="{% url 'jsArray' %}" class="active1">JS Array</a>{% endblock %}


{% block header-tag %} javaScript Array and Object {% endblock %}

{% block prev-next %}
<a href="{% url 'jsString' %}" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
<a href="#"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
{% endblock %}



{% block definition %}

<div class="intro">
                      <p>String in Javascript. Please read comments in code carefully.</p>
                   </div>

<div class="codeTag">
    <h3 style="font-family: 'Cairo', sans-serif;">String</h3>
    <p><i class='fa fa-angle-double-right'></i>There are various operation which is perform on String. </p>
</div>



<div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none;">

    <h4>Various Operations on String are:</h4>

     <p>String<span style="font-weight:bold"> Concatenation</span></p>
     <p>String<span style="font-weight:bold"> Length</span></p>
     <p>String<span style="font-weight:bold"> LowerCase</span></p>
     <p>String<span style="font-weight:bold"> UpperCase</span></p>
     <p>String<span style="font-weight:bold">  Index</span></p>
     <p>String<span style="font-weight:bold"> CharAt</span></p>
             <p>String<span style="font-weight:bold"> startsWith</span></p>
         <p>String<span style="font-weight:bold"> endsWith</span></p>
         <p>String<span style="font-weight:bold"> subString</span></p>
         <p>String<span style="font-weight:bold"> includes</span></p>
         <p>String<span style="font-weight:bold"> Slice</span></p>
         <p>String<span style="font-weight:bold"> Split</span></p>
         <p>String<span style="font-weight:bold"> Replace</span></p>
         <p>String<span style="font-weight:bold"> BackTicks</span></p>
</div>






<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">String <span>Concatenation</span>:</h3>
<div class="editor1">
<div  id="editor11" style="height:500px;">let str1 = 'Harry';
let str2 = ' ';
let str3 = 'Potter'
let str = str1 + str2 + str3;
//Here concatenate all three different String in single variable.
console.log(str);


console.log('Lord' , 'Shiva');
//Concatenation of two string.


let string = 'Reading ' + 'Books ';
string = string.concat('are ' , 'Good ' , 'Practice.');
console.log(string);
//Here we use Concat function for concatenation of string.
//By this Method You can concat any numbder of string.
</div>
</div>
<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log"><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log">
  <div class="output-showing">
    <h5>OUTPUT</h5>

      <h6>Harry Potter</h6>
      <h6>Lord Shiva</h6>
      <h6>Reading Books are Good practice.</h6>
      <p>This output will only showing the only string which is present in <span>"console.log('Hello World');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>






<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">String <span>Length</span>:</h3>
<div class="editor1" style="">
<div  id="editor2" style="padding-top:-20px;height:150px;">let string = 'Saurav ';
len = string.length;
//Here we use length key to find string length.

console.log('Length:',len);
</div>
</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.warn" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
         <span style="padding-left:10px;"><a href="#" style="color:red"></a></span>
</div>
</div>

<div class="collapse" id="console.warn">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6>Length: <span style="color:blue;">7</span></h6>

      <p>This output will only showing the only string which is present in <span>"console.warn('This is warning');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>

<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">String <span>LowerCase</span>:</h3>
<div class="editor1">
<div  id="editor3" style="height:150px;">let string = 'A B C D E F G';
string = string.toLowerCase();
//it is the LowerCase Method which change the string LowerCase.

console.log(string);
</div>
</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log1" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>

</div>
</div>





<div class="collapse" id="console.log1">
  <div class="output-showing">
    <h5>OUTPUT</h5>
     <h6>a b c d e f g</h6>

      <p>This output will only showing the only string which is present in <span>"console.log(34 + 4);".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>





<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">String <span>UpperCase</span>:</h3>
<div class="editor1">
<div  id="editor4" style="height:150px;">let string = 'a b c d e f g';
string = string.toUpperCase();
//it is the UpperCase Method which change the string UpperCase.

console.log(string);

</div>


</div>

<div class="output-button">
    <div class="">
        	<button class="button3" data-toggle="collapse" data-target="#console.log2" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>

    </div>
</div>

<div class="collapse" id="console.log2">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6>A B C D E F G</h6>
      <p>This output will only showing the only string which is present in <span>"console.error('This is an error');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>


<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">String <span>Index</span>:</h3>
<div class="editor1">
<div  id="editor5" style="height:580px;">let string = "India is a secular country."
console.log("char at index 1 " , string[1]);
//Here string[1] is represent one char of whole string and 1 is corresponding index number.


console.log("Index of 'I':" , string.indexOf('I'));
//indexOf('char') it gives the index number of corresponding character.


console.log("First Index of 'n':" , string.indexOf('n'));
//Default it give the first index of character 'n', if one or more n is present in string.;


console.log("Last Index of 'n':" , string.lastIndexOf('n'))
//it gives last index of char 'n'.


console.log("charAt index 1 " , string.charAt(1));
//Here charAt gives the character value at corresponding index number.
</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log3" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log3">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6>Char at index 1: n</h6>
     <h6>Index of 'I':<span style="color:blue"> 0</span></h6>
      <h6>First index of 'n':<span style="color:blue"> 1</span></h6>
      <h6>last index of 'n':<span style="color:blue"> 22</span></h6>
      <h6>CharAt index 1: n</h6>




      <p>This output will only showing the only string which is present in <span>"console.log([34,3,2,1,])".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>




<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">String <span>Boolean Function</span>:</h3>
<div class="editor1">
<div  id="editor6" style="height:560px;">let string = "India is a secular country";

console.log('Is sentence start with England: ' , string.startsWith('England'));
/*
    It gives boolean value true or false,
    Whether the sentence starts with string 'England' or not.
*/


console.log('Is sentence ends with country: ' , string.endsWith('country'));
/*
    It gives boolean value true or false,
    Whether the sentence ends with string ' . ' dot  or not.
*/


console.log('Is sentence include is: ' , string.includes('is'));
/*
    It gives boolean value true or false,
    Whether the sentence includes the string 'is' or not.
*/
</div>


</div>

<div class="output-button" style="">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log4" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log4" style="">
  <div class="output-showing">
    <h5>OUTPUT</h5>

      <h6>Is sentence start with England:<span style="color:blue"> false</span></h6>
      <h6>Is sentence ends with country:<span style="color:blue"> true</span></h6>

      <h6>Is sentence includes is:<span style="color:blue"> true</span></h6>


      <p>This output will only showing the only string which is present in <span>"console.error('This is an error');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>









<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">String <span>SOME MORE</span>:</h3>
<div class="editor1" style="">
<div  id="editor" style="height:780px;">let string = 'China is most populated country in the world.';

console.log('Substring:' , string.substring(1,9));
/*
    It gives the output as substring.
    According to given range.
    this range start from 0 and end at n-1'
    where n is last range which is given as 9.
*/


console.log('Slice:' , string.slice(0,4))
//it is just like substring.


console.log('Split space:' , string.split(' '));
/*
    It gives us a array element.
    which is separated by some value.
    those value passed into split function.
*/

console.log('Splits i:' , string.split('i'));
//check note given below.

console.log('Replace china with india:' , string.replace('China','india'));
//it replace the 'China' with 'india'. check output.
</div>

</div>

<div class="output-button" style="">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log9" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log9" style="">
  <div class="output-showing">
    <h5>OUTPUT</h5>

      <h6>Substring: hina is</h6>
      <h6>Slice: Chin</h6>
      <h6>Split space: [<span style="color:red">"China"</span>, <span style="color:red">"is"</span>, <span style="color:red">"most"</span>,
      <span style="color:red">"populated"</span>, <span style="color:red">"country"</span>,
          <span style="color:red">"in"</span>, <span style="color:red">"the"</span>,
      <span style="color:red">"world"</span>]</h6>


      <h6>Split i: [<span style="color:red">"Ch"</span>, <span style="color:red">"na "</span>, <span style="color:red">"s most populated country "</span>,
      <span style="color:red">"n the world."</span>]</h6>
      <h6>Replace China with india: india is most populated country in the world.</h6>



      <p>This output will only showing the only string which is present in <span>"console.error('This is an error');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>


                   <div class="content">
                  <div class="note">
       <p><span style="font-weight:bold;letter-spacing:2px;font-size:22px;">Note</span>
           <i class="fa fa-fw fa-pencil" style="font-size:22px padding-right:10px;" aria-hidden="true">:</i>
       The Split function separate the string like array element and element
       separated by the particular string which is passed to split function.</p>
    </div>
              </div>


<div class="content" style="margin-top:-10px;margin-bottom:10px;font-family: 'Cairo', sans-serif;border-left:7px solid orange;">
    <h2>Back Ticks [` `]</h2>

    <div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none;">
        <p>Back Ticks is used when if we want to write HTML code in JavaScript code</p>
        <p>It is interesting to know how to use <span style="color:black ; font-weight:bold;">Back Ticks</span></p>
    </div>
</div>



<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">Date:</h3>
<div class="editor1" style="">
<div  id="editor1" style="height:520px;"><textarea><!DOCTYPE html>
<html>
<body>

<button onclick="todayDate()">GET TODAY DATE AND TIME</button>

<h6 id="date"></h6>
<script>

let date;

function todayDate () {
   date = new Date();
   document.getElementById('date').innerHTML = date;
}

console.log('DataType is '+(typeof date));

</script>

</body>
</html></textarea></div>


</div>

<div class="output-button"  id="console.log12" >
    <div class="">
	<button class="button3" style="display:none;" data-toggle="collapse" data-target="#console.log12" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>

</div>
</div>




<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">Back ticks:</h3>
<div class="editor1" style="">
<div  id="editor10" style="padding-top:-20px;height:310px;">function Add(num1,num2) {
    return num1+num2;
}

var a= 100;
var b = 20;

const Sum = Add(a , b) ;

console.log('Sum is ',Sum);

console.log('DataType is '+(typeof Add));
</div>


</div>

<div class="output-button" style="">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log10" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
         <span style="padding-left:10px;"><a href="#" style="color:red"> Learn JS Function</a></span>
</div>
</div>

<div class="collapse" id="console.log10" style="">
  <div class="output-showing">
    <h5>OUTPUT</h5>

<h6>Sum is <span style="color:blue;">120</span></h6>
      <h6>DataType is function</h6>
      <p>This output will only showing the only string which is present in <span>"console.warn('This is warning');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>


<!-- there is no need of this code-->


<!-- here un unusal code is ended-->

{% endblock %}



{% block prev-next2 %}
<a href="{% url 'jsString' %}" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
<a href="#"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
{% endblock %}


{% block jsfiles %}<script type="text/javascript" src="{% static 'js/jseditor2.js' %}"></script>{% endblock %}