{% extends 'Basics/Basic javaScript.html' %}

{% load static %}

{% block title %} javaScript TypeConversion {% endblock %}

{% block javaScript %} <a href="{% url 'JavascriptIntro' %}" class="navItem lg2 active">JavaScript</a>{% endblock %}

{% block jstypeconversion1 %}<a href="{% url 'jsTypeConversion' %}" class="active1">JS TypeConversion</a>{% endblock %}
{% block jstypeconversion2 %}<a href="{% url 'jsTypeConversion' %}" class="active1">JS TypeConversion</a>{% endblock %}

{% block header-tag %} javaScript TypeConversion {% endblock %}

{% block prev-next %}
<a href="{% url 'jsDatatypes' %}" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
<a href="{% url 'jsString' %}"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
{% endblock %}



{% block definition %}

 <div class="intro">
                      <p>TypeConversion in Javascript.</p>
                   </div>

<div class="codeTag">
    <h3 style="font-family: 'Cairo', sans-serif;">TypeConversion</h3>
    <p><i class='fa fa-angle-double-right'></i> The conversion of one DataType into another DataType is called TypeConversion. </p>
        See Figure 1.2.

</div>


<div class="content" style="margin-top:30px;margin-bottom:10px;font-family: 'Cairo', sans-serif;">

        <h3 style="margin-left:5px;">Figure 1.2.</h3>

             {% load static %}

            <img style="border: 3px solid orange" src='{% static "js image/Methods2.png" %}' class="card-img-top img-fluid" alt="...">


</div>



<div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none;">

    <h4>We will use Various Method for TypeConversion:</h4>

     <p>Change to string: <span style="font-weight:bold">String</span>()</p>
    <p>Change to number: <span style="font-weight:bold">Number</span>()</p>
     <p>Change to integer:  <span style="font-weight:bold">parseInt</span>()</p>
     <p>Change to float: <span style="font-weight:bold">parseFloat</span>()</p>
     <p>Change to boolean: <span style="font-weight:bold">Boolean</span>()</p>





</div>






<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">Change to <span>String()</span>:</h3>
<div class="editor1">
<div  id="editor11" style="height:700px;">let num = 7;

console.log(num ,(typeof num));

num = String(num);
//Here we change the number to string.
console.log(num , (typeof num));


let bool = String(true);
//Here we change the boolean to string
console.log(bool , (typeof bool));


let date = String(new Date());
//Here we change the date to string
console.log(date , (typeof date));


let arr = String([1,2,3,4]);
//Here we change the array to string
console.log(arr , (typeof arr));

//There is another way to change DataType into string.
num = 900;
console.log(num ,(typeof num));

num = num.toString();
//Here we change the number to string.
console.log(num , (typeof num));
</div>
</div>

<div class="output-button">
    <div class="">
	<button onclick="todayDate()" class="button3" data-toggle="collapse" data-target="#console.log"><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log">
  <div class="output-showing">
    <h5>OUTPUT</h5>

      <h6><span style="color:blue">7</span> " <span style="color:red">number</span> "</h6>
      <h6>7 string</h6>
      <h6>true string</h6>

      <h6><span id="date12" style="color:#000;"></span> string</h6>
      <h6>1,2,3,4 string</h6>
      <h6><span style="color:blue">900</span> " <span style="color:red">number</span> "</h6>
      <h6>900 string</h6>
      <p>This output will only showing the only string which is present in <span>"console.log('Hello World');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>






<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">Change to Number():</h3>
<div class="editor1" style="">
<div  id="editor2" style="padding-top:-20px;height:690px;">let str1 = Number("321d4");
/*
    Here we try to change string into number.
    but it is not possible.
    because it is not a number(NaN)
*/
console.log(str1 , (typeof str1));
//output:nan not a number


let bool1 = Number(true)
console.log(bool1 , (typeof bool1));
//Here we change the boolean true to number

let boo2 = Number(false);
console.log(bool2 , (typeof bool2));
//Here we change the boolean false to number


let str2 = Number([1,2,3,4,5,6,7,8,9]);
/*
    Here we change the array into string
    but it is array not a number(NaN).
*/
console.log(str2 , (typeof str2));

let str3 = "900";
str3 = Number("900");
//Here we change the string to number.
console.log(str3 , (typeof str));
</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.warn" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
         <span style="padding-left:10px;"><a href="#" style="color:red"></a></span>
</div>
</div>

<div class="collapse" id="console.warn">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6><span style="color:blue">NaN</span> " <span style="color:red">number</span> "</h6>
            <h6><span style="color:blue">1</span> " <span style="color:red">number</span> "</h6>
            <h6><span style="color:blue">0</span> " <span style="color:red">number</span> "</h6>

      <h6><span style="color:blue">NaN</span> " <span style="color:red">number</span> "</h6>
            <h6><span style="color:blue">900</span> " <span style="color:red">number</span> "</h6>

      <p>This output will only showing the only string which is present in <span>"console.warn('This is warning');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>

<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">Change to parseInt()</h3>
<div class="editor1">
<div  id="editor3" style="height:350px;">let number = 34;

number = parseInt(number);
//Here we change the number to Integer.

console.log(number , (typeof number));
//Default it gives as number.

let str = "900";
str = parseInt(str);
//Here we change the string to integer.
console.log(str , (typeof str));
//Default it gives as number.
</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log1" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>

</div>
</div>





<div class="collapse" id="console.log1">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6><span style="color:blue">34</span> " <span style="color:red">number</span> "</h6>
      <h6><span style="color:blue">900</span> " <span style="color:red">number</span> "</h6>

      <p>This output will only showing the only string which is present in <span>"console.log(34 + 4);".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>





<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">Change to parseFloat():</h3>
<div class="editor1">
<div  id="editor4" style="height:420px;">let number = 900.9000;

number = parseFloat(number);
//Here we change the number to Float.

console.log(number , (typeof number));
//Default it gives as number.

let str = "34.3400900";
str = parseFloat(str);
//Here we change the string to Floating value.
console.log(str , (typeof str));
//Default it gives as number.

console.log(number.toFixed(30),(typeof number))
//Check note Below.
</div>


</div>

<div class="output-button">
    <div class="">
        	<button class="button3" data-toggle="collapse" data-target="#console.log2" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>

    </div>
</div>

<div class="collapse" id="console.log2">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6><span style="color:blue">900.9</span> " <span style="color:red">number</span> "</h6>
      <h6><span style="color:blue">34.34009</span> " <span style="color:red">number</span> "</h6>
      <h6>900.899999999999977262632455676794 number</h6>
      <p style="font-family: 'Source Code Pro', monospace">But it still primitive DataType</p>
      <p>This output will only showing the only string which is present in <span>"console.error('This is an error');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>

              <div class="content">
                  <div class="note">
       <p><span style="font-weight:bold;letter-spacing:2px;font-size:22px;">Note</span><i class="fa fa-fw fa-pencil" style="font-size:22px padding-right:10px;" aria-hidden="true">:</i>
           variable.<span style="font-weight:bold;">toFixed</span>( <span style="font-weight:bold;">value</span> ), Here variable is any floating variable , <span style="font-weight:bold;">toFixed()</span>
            is a method which set the decimal point as user wants and <span style="font-weight:bold;">value</span> specify the decimal points.</p>
    </div>
              </div>

<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">Change to Boolean():</h3>
<div class="editor1">
<div  id="editor5" style="height:280px;">let number0 = 0;
number0 = Boolean(number0);
//Here we change number 0 to boolean.
console.log(number0 , (typeof number0));


let number1 = 1;
number1 = Boolean(number1);
//Here we change number 1 to boolean.
console.log(number1, (typeof number1));
</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log3" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log3">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6><span style="color:blue">false</span> " <span style="color:Tomato">boolean</span> "</h6>
      <h6><span style="color:blue">true</span> " <span style="color:Tomato">boolean</span> "</h6>

      <p>This output will only showing the only string which is present in <span>"console.log([34,3,2,1,])".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>


<div class="content" style="margin-top:30px;margin-bottom:10px;font-family: 'Cairo', sans-serif;border-left:7px solid orange;">
    <h2>Reference DataTypes <i class='fa fa-angle-double-right'></i></h2>
</div>


<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">Array:</h3>
<div class="editor1">
<div  id="editor6" style="height:160px;">myarr=[1,2,3,false,"string"]

console.log(myarr);

console.log('DataType is '+(typeof myarr));
</div>


</div>

<div class="output-button" style="">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log4" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log4" style="">
  <div class="output-showing">
    <h5>OUTPUT</h5>

      <h6>(5) [<span style="color:blue;">1, 2, 3, false, </span><span style="color:red;">"string"</span>]</h6>
      <h6 style="color:purple;">0: <span style="color:blue;">1</span></h6>
      <h6 style="color:purple;">1: <span style="color:blue;">2</span></h6>
      <h6 style="color:purple;">2: <span style="color:blue;">3</span></h6>
      <h6 style="color:purple;">3: <span style="color:blue;">false</span></h6>
      <h6 style="color:purple;">3: <span style="color:red;">"string"</span></h6>
      <h6 style="color:purple;">length: <span style="color:blue;">5</span></h6>
      <h6>DataType is object</h6>
      <p style="font-family: 'Source Code Pro', monospace">It is reference DataType</p>
      <p>This output will only showing the only string which is present in <span>"console.error('This is an error');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>





{% endblock %}



{% block prev-next2 %}
<a href="{% url 'jsDatatypes' %}" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
<a href="{% url 'jsString' %}"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
{% endblock %}

{% block jsfiles %}<script type="text/javascript" src="{% static 'js/typeConversionjseditor3.js' %}"></script>{% endblock %}
