{% extends 'Basics/Basic javaScript.html' %}

{% load static %}

{% block title %} javaScript Variables {% endblock %}

{% block javaScript %} <a href="{% url 'JavascriptIntro' %}" class="navItem lg2 active">JavaScript</a>{% endblock %}

{% block jsvar1 %}<a href="{% url 'javascriptVariables' %}" class="active1">JS Variables</a>{% endblock %}
{% block jsvar2 %}<a href="{% url 'javascriptVariables' %}" class="active1">JS Variables</a>{% endblock %}


{% block header-tag %} javaScript Variables {% endblock %}

{% block prev-next %}
<a href="{% url 'JavascriptIntro' %}" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
<a href="{% url 'jsDatatypes' %}"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
{% endblock %}



{% block definition %}


<div class="intro">
                      <p>Variables in Javascript. Let,Const,Var</p>
                   </div>

<div class="codeTag">
    <h3 style="font-family: 'Cairo', sans-serif;">Rules for Javascript Variables:</h3>
    <p></p>
    <p>(a) Javascript Variables cannot start with number.</p>
    <p>(b) Javascript Variables can start with underscore(_),dollar($) and Letter.</p>
    <p>(c) Javascript Variables are cases sensitive.</p>
    <p>(d) Javascript Variables cannot contain spaces between them like (vari ables) wrong here.</p>
    <p>Example like if,else,for,while,do etc are certain inbuilt keywords which are not used as variables.</p>
</div>



<div class="content" style="font-family: 'Source Code Pro', monospace;">
    <p>WE highly recommended to not use dollar($) and underscore(_) as starting character of variables because it is mainly used as keywords in advanced javaScript framework like JQUERY.</p>

    <p>Here we use External file of javaScript.</p>
    <p>File.js You can give any name to your javaScript file but it is meaningful and related your project and your learning purpose.</p>
    <div class="note">
       <p><span style="font-weight:bold;letter-spacing:2px;font-size:22px;">Note</span><i class="fa fa-fw fa-pencil" style="font-size:22px;padding-right:10px;" aria-hidden="true">:</i> It is Good practice to write code of including Javascript file into HTML file is just before ending of body tag.</p>
    </div>



</div>




<h3 style="margin-bottom:-20px;">Example <span style="color: #13D757"> index.html</span></h3>
<div class="editor1">
<div  id="editor1" style="height:330px;"><textarea><!DOCTYPE html>
<html>
<body>

<h1 id="demo1"></h1>
<p id="demo2"></p>

<button style="" onclick="MyFunction()">CLICK ME to KNOW THE POWER OF ID</button>

<script type="text/javascript" src="Main.js"></script>
</body>
</html></textarea>
</div>


</div>

<div class="output-button">

</div>

<div class="collapse" id="console.log">
  <div class="output-showing">
    <h5>OUTPUT</h5>

      <h6>Hello World</h6>
      <p>This output will only showing the only string which is present in <span>"console.log('Hello World');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javaScript console.
    </p>
  </div>
</div>



<h3 style="margin-bottom:-20px;margin-top:22px;">Javascript <span style="font-weight:bold;padding-left:10px;"> Main.js</span></h3>
<div class="editor1" style="">
<div  id="editor2" style="padding-top:-20px;height:230px;">function MyFunction() {

var demo1 = document.getElementById('demo1');
demo1.innerText='This is big header.';

var demo2 = document.getElementById('demo2');
demo2.innerText='This is paragraph.';

}
</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.warn" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
         <span style="padding-left:10px;"><a href="#" style="color:red"> Learn JS Function</a></span>
</div>
</div>

<div class="collapse" id="console.warn">
  <div class="output-showing">
    <h5>OUTPUT</h5>



<button style="" onclick="MyFunction1()">CLICK ME to KNOW THE POWER OF ID</button>

       <h1 id="demo3"></h1>
      <p id="demo4"></p>


  </div>
</div>

<h3 style="margin-bottom:-20px;margin-top:22px;">Javascript <span style="font-weight:bold;padding-left:10px;"> Var</span></h3>
<div class="editor1">
<div  id="editor3" style="height:420px;">var Name = 'Saurav';
var Marks = 100;
var Channel;
//Here Variable Channel is not Defined.

console.log(Name , Marks , Channel);

var City = 'Motihari';
console.log(City);

City='Delhi';
//Here we can change the value of City var.

Channel='YouTube';
//Here Channel is defined.

console.log(Channel , City);
</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log1" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>

</div>
</div>



<div class="collapse" id="console.log1">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6>Saurav <span style="color:blue"> 100</span> <span style="color:grey;"> undefined</span></h6>
      <h6>Motihari</h6>
      <h6>YouTube Delhi</h6>

      <p>This output will only showing the only string which is present in <span>"console.log(34 + 4);".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>

<div class="content" style="font-family: 'Source Code Pro', monospace;">
               <p>The Variable of type Var is can change easily anywhere of javascript code.</p>
               <h4>There are two types of comments:</h4>
                <p>1. SingleLine Comment</p>
                <p>2. MultiLine Comment</p>
            </div>



<h3 style="margin-bottom:-20px;margin-top:22px;">Javascript <span style="font-weight:bold;padding-left:10px;"> Comment</span></h3>
<div class="editor1">
<div  id="editor4" style="height:360px;">
/*
    This is MultiLine comments.

    You can Write Anything important which is related to your code.

    It is used to optimized the code.

    Comment is also essential for understandability of code.

    for other Developers.

*/

// This is Single line Comment.
</div>


</div>

<div class="output-button">
    <div class="">
    </div>
</div>

<div class="collapse" id="console.log2">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6 style="color:red;"><i class="fa fa-times-circle" style="color:red;"></i> This is an error</h6>
      <p>This output will only showing the only string which is present in <span>"console.error('This is an error');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>


<h3 style="margin-bottom:-20px;margin-top:22px;">Javascript <span style="font-weight:bold;padding-left:10px;"> Const</span></h3>
<div class="editor1">
<div  id="editor5" style="height:200px;">const Marks = 88;
console.log(Marks);

Marks = 90;
/*
    Here We cannot chane the value of const.
    Because Const means Constant and const Never be Changed.
*/
</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log3" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log3">
  <div class="output-showing">
    <h5>OUTPUT</h5>
     <h6 style="color:blue;">88</h6>
     <h6 style="">Marks = <span style="color:blue">90</span>; not change  <i class="fa fa-times-circle" style="color:red;"></i></h6>
      <h6 style="color:red;">Assignment to Constant Variables is not allow</h6>

      <p>This output will only showing the only string which is present in <span>"console.log([34,3,2,1,])".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>


<div class="content">

    <div class="note">
       <p><span style="font-weight:bold;letter-spacing:2px;font-size:22px;">Note</span><i class="fa fa-fw fa-pencil" style="font-size:22px;padding-right:10px;" aria-hidden="true">:</i>
           In Advanced Javascript we mostly used Const and Let instead of Var.</p>
    </div>

</div>

<h3 style="margin-bottom:-20px;margin-top:22px;">Javascript <span style="font-weight:bold;padding-left:10px;"> Let</span></h3>
<div class="editor1">
<div  id="editor6" style="height:360px;">const City = 'Delhi';
Console.log(City);

{
    let City = 'Motihari'//Local Variable
    console.log(City);

    /*
    let have only local scope.
    var have Global scope.
    */
}

console.log(City);

</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log4" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log4">
  <div class="output-showing">
    <h5>OUTPUT</h5>

    <h6>Delhi</h6>
      <h6>Motihari</h6>
      <h6>Delhi</h6>
      <p>This output will only showing the only string which is present in <span>"console.error('This is an error');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>





<div class="editor1">
<div  id="editor" style="height:360px;">const City = 'Delhi';
Console.log(City);

{
    //let City = 'Motihari';
    City = 'Patna'
    console.log(City);

    /*
     Thia All treated as Global Variable
     Check Output
    */
}

console.log(City);

</div>


</div>

<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log9" ><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log9">
  <div class="output-showing">
    <h5>OUTPUT</h5>

    <h6>Delhi</h6>
      <h6>Patna</h6>
      <h6>Patna</h6>
      <p>This output will only showing the only string which is present in <span>"console.error('This is an error');".</span>
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>




{% endblock %}



{% block prev-next2 %}
<a href="{% url 'JavascriptIntro' %}" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
<a href="{% url 'jsDatatypes' %}"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
{% endblock %}

{% block jsfiles %}<script type="text/javascript" src="{% static 'js/jseditor2.js' %}"></script>{% endblock %}
