{% extends 'Basics/Basic c.html' %}

{% block title %} C Constant {% endblock %}
{% block c %}<a href="{% url 'Cintro' %}" class="navItem lg9 active">C</a>{% endblock %}




{% block const1 %}<a href="{% url 'Cconst' %}" class="active1">C Constants</a>{% endblock %}
{% block const2 %}<a href="{% url 'Cconst' %}" class="active1">C Constants</a>{% endblock %}



{% block header-tag %} C Constant {% endblock %}

{% block prev-next %}
<a href="{% url 'Cintro' %}" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
<a href="{% url 'Cvar' %}"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
{% endblock %}






{% block definition %}

        <div class="intro">
                      <p>A Constants is an entity that doesn't change.</p>

                   </div>

<div class="codeTag">
    <h3 style="font-family: 'Cairo', sans-serif; font-weight:bold;">Types of Constants in C</h3>
    <p>Constant in C can be divided into two major categories:</p>
    <p>(a) Primary Constants</p>
    <p>(b) Secondary Constants</p>

    <p>These constants are further categorized as shown in Figure in 1.2.</p>

</div>


<div class="content" style="margin-top:30px;margin-bottom:10px;font-family: 'Cairo', sans-serif;">

        <h3 style="margin-left:5px;">Figure 1.2.</h3>

             {% load static %}

            <img style="border: 3px solid orange" src='{% static "Cimage/Constant types.png" %}' class="card-img-top img-fluid" alt="...">


</div>





<div class="content" style="margin-top:10px;margin-bottom:10px;font-family: 'Cairo', sans-serif;">
    <h2 style="margin-left:5px;">Rules for Constructing Integer Constants</h2>

    <div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none; margin-left:5px;">
        <p>(a) An integer constant must have at least one digit.</p>
        <p>(b) It must not have a decimal point.</p>
        <p>(c) It can be any of any zero, positive or negative.</p>
        <p>(d) If no sign precedes an integer constant, it is assumed to be positive.</p>
        <p>(e) No commas or blanks are allowed within an integer constant.</p>
        <p>(f) The allowable range for integer constant is <spant style="font-weight:bold;">-2147483648</spant>
            to <span style="font-weight:bold;">+2147483647</span>.</p>

        <p>EXAMPLE: 900, +782, -8000 </p>

    </div>
</div>






                   <div class="content">
                  <div class="note">
       <p><span style="font-weight:bold;letter-spacing:2px;font-size:22px;">Note</span>
           <i class="fa fa-fw fa-pencil" style="font-size:22px padding-right:10px;" aria-hidden="true">:</i>
           The range of integer constant depends up on compiler. For compilers like Visual Stdio, GCC it is -2147483648 to
           +2147483647, Whereas for compilers like Turbo C or Turbo C++ the range is -32768 to +327767.
           </p>
    </div>
              </div>



<div class="content" style="margin-top:10px;margin-bottom:10px;font-family: 'Cairo', sans-serif;">
    <h2 style="margin-left:5px;">Rules for Constructing Real Constants</h2>

    <div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none; margin-left:5px;">
        <p>Real constants are often called Floating Point constants. Real constants could be written in  two form-
            Fraction form and Exponential form.</p>
        <p>(a) An integer constant must have at least one digit.</p>
        <p>(b) It must have a decimal point.</p>
        <p>(c) It could be either positive or negative.</p>
        <p>(d) Default sign is positive.</p>
        <p>(e) No commas or blanks are allowed within an integer constant.</p>
        <P>EXAMPLE: +327.90, 426.0, -32.0, -4.9567</P>

    </div>
</div>



<div class="content" style="margin-top:30px;margin-bottom:10px;font-family: 'Cairo', sans-serif;border-left:7px solid #13D757;">
    <h2 style="margin-left:5px;">Exponential form of real constant:</h2>

    <div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none; margin-left:5px;">
        <p>The exponential form is usually used if the value of the constant is either too small or too large.
         there is no restriction to use exponential form of real constant.</p>
        <p>In Exponential form, the real constant is represented in two parts.</p>
        <p>The part appearing before 'e' is called mantissa.</p>
        <p>the part following 'e' is called exponent</p>
        <p>Thus 0.000342 can be written in exponential form as <span style="font-weight:bold">3.42e-4</span></p>
          <p>which in normal arthmatic means 3.42 * 10^-4 </p>
    </div>
</div>



<div class="content" style="margin-top:30px;margin-bottom:10px;font-family: 'Cairo', sans-serif;">
    <h2 style="margin-left:5px;">Rules for constructing exponential form of real constants</h2>

    <div class="content" style="font-family: 'Source Code Pro', monospace;margin-left:5px;">
        <p>(a) The mantissa part and the exponential part should be separated by a letter E or e.</p>
        <p>(b) The mantissa part may have a positive or negative sign.</p>
        <p>(c) Default sign of mantissa part is positive.</p>
        <p>(d) The exponential must have at least one digit either positive or negative.</p>
        <p>(e) Range of exponential form of real constants is<span style="font-weight:bold"> -3.4e38</span> to
            <span style="font-weight:bold">3.4e38</span>.</p>
        <p>EXAMPLE: +3.2e-5, 4.1e8, -0.2E+3, -3.2e-9</p>
    </div>
</div>





<div class="content" style="margin-top:30px;margin-bottom:10px;font-family: 'Cairo', sans-serif;">
    <h2 style="margin-left:5px;">Rules for Constructing Character Constants</h2>

    <div class="content" style="font-family: 'Source Code Pro', monospace;margin-left:5px;">
        <p>(a) A character constant is single alphabet, a single digit or a single special symbol.</p>
        <p>(b) A special symbol must be enclosed within single inverted commas.</p>
        <p>(c) Both inverted commas should point to left..</p>
        <p>EXAMPLE: 'A', 'I', '7', '=', '9', '8', '%'</p>
    </div>
</div>







<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">Example: </h3>
<div class="editor1"><div  id="editor11" style="height:200px;"><textarea>//The First C Program.

#include<stdio.h>
int main(){

    printf("Hello World");

}
</textarea>
</div>
</div>
<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log"><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6>Hello World</h6>

      <p>This output will only showing the only string which is present in printf('Hello World');"
        When you try it yourself then goto your HTML page click right button on mouse and goto inspect
        and then goto console after that you able to see output of javascript console.
    </p>
  </div>
</div>






<div class="content" style="margin-top:30px;margin-bottom:10px;font-family: 'Cairo', sans-serif;border-left:7px solid orange;">

        <h2 style="margin-left:5px;">The C Character Set</h2>


     <div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none; margin-left:5px;">
         <p>A character denotes any alphabet, digit or special symbol used to represent information.</p>

    </div>


</div>



{% endblock %}





{% block prev-next2 %}
<div class="" style="margin-bottom:40px; margin-top:10px;">
    <div class="" style="display:flex">
        <a href="{% url 'Cintro' %}" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
        <a href="{% url 'Cvar' %}"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
    </div>
</div>
{% endblock %}