{% extends 'Basics/Basic c.html' %}

{% block title %} C Keywords {% endblock %}
{% block c %}<a href="{% url 'Cintro' %}" class="navItem lg9 active">C</a>{% endblock %}




{% block ckey1 %}<a href="{% url 'Ckey' %}" class="active1">C Keywords</a>{% endblock %}
{% block ckey2 %}<a href="{% url 'Ckey' %}" class="active1">C Keywords</a>{% endblock %}



{% block header-tag %} C Keywords {% endblock %}

{% block prev-next %}
<a href="#" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
<a href="#"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
{% endblock %}






{% block definition %}

           <div class="intro">
                      <p>C language is considered as the mother language of all the modern programming languages.</p>

                   </div>

<div class="codeTag">
    <h3 style="font-family: 'Cairo', sans-serif; font-weight:bold;">What is C ?</h3>
    <p>C is a programming language developed at AT & T's Bell Laboratories of USA in 1972. </p>
    <p>It has design and written by a man named Dennis Ritchie.</p>
    <p>C became popular because it is reliable, simple and easy to use.</p>

</div>



<div class="content" style="margin-top:-10px;margin-bottom:10px;font-family: 'Cairo', sans-serif;border-left:7px solid orange;">
    <h2 style="margin-left:5px;">Why to learn C first ?</h2>

    <div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none; margin-left:5px;">
        <p>C has been already superseded by Language like C++, C#, and Java, so why bother to learn C today.</p>
        <p>C++, C#, or Java make use principal called "<span style="font-weight:bold;">object oriented programming</span>"
            to organize the program. This organizing principal has lots of advantage to offer. But even while using this organizing
         principal, you still need a good hold over the language elements of C and the basic programming skills.</p>
        <p>Major parts of popular operating Systems like Windows, UNIX, Linux and Android are written in C.</p>
        <p>I hope that these are very convincing reasons why would adopt C as the first.</p>
    </div>
</div>




<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">Example: </h3>
<div class="editor1"><div  id="editor11" style="height:200px;"><textarea>//The First C Program.

#include<stdio.h>
int main(){

    printf("Hello World");

}
</textarea>
</div>
</div>
<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log"><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6>Hello World</h6>


  </div>
</div>


<div class="content" style="margin-top:30px;margin-bottom:10px;font-family: 'Cairo', sans-serif;border-left:7px solid #13D757;">
    <h2 style="margin-left:5px;">Getting Started With C.</h2>

    <div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none; margin-left:5px;">
        <p>While Learning C, We first learn alphabets, digits and special symbols.</p>
        <p>Then we learn how to combine them to form constants, variables and keywords.</p>
        <p>And finally, how to combine them to form an <span style="font-weight:bold">instruction.</span></p>
        <p>A group of instructions can then be combined to form a <span style="font-weight:bold">program. </span></p>
        <p>See Figure 1.1.</p>
    </div>
</div>


{% block image %}
{% load static %}
<h3 style="margin-left:5px;">Figure 1.1.</h3>
<img style="border:3px solid orange" src='{% static "Cimage/Capture g.png" %}' class="card-img-top img-fluid" alt="...">
{% endblock %}



<div class="content" style="margin-top:30px;margin-bottom:10px;font-family: 'Cairo', sans-serif;border-left:7px solid orange;">

        <h2 style="margin-left:5px;">The C Character Set</h2>


     <div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none; margin-left:5px;">
         <p>A character denotes any alphabet, digit or special symbol used to represent information.</p>

    </div>


</div>

{% endblock %}





{% block prev-next2 %}
<div class="" style="margin-bottom:40px; margin-top:10px;">
    <div class="" style="display:flex">
        <a href="#" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
        <a href="#"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
    </div>
</div>
{% endblock %}