{% extends 'Basics/Basic c.html' %}

{% block title %} C Variables {% endblock %}

{% block c %}<a href="{% url 'Cintro' %}" class="navItem lg9 active">C</a>{% endblock %}


{% load static %}

{% block cvar1 %}<a href="{% url 'Cvar' %}" class="active1">C Variables</a>{% endblock %}
{% block cvar2 %}<a href="{% url 'Cvar' %}" class="active1">C Variables</a>{% endblock %}



{% block header-tag %} C Variables {% endblock %}

{% block prev-next %}
<a href="{% url 'Cconst' %}" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
<a href="{% url 'Ckey' %}"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
{% endblock %}






{% block definition %}


 <div class="intro">
                      <p>A Variable is an entity that may change</p>

                   </div>

                   <div class="codeTag">
    <h3 style="font-family: 'Cairo', sans-serif; font-weight:bold;">Types of C Variables</h3>
    <p>(a) Integer Variables: It can hold only an Integer constant.</p>
    <p>(b) Real Variables: It can hold only an Real constant.</p>
    <p>(a) Character Variables: It can hold only an Character constant.</p>

     <p>See Figure 1.3.</p>
</div>




<div class="content" style="margin-top:30px;margin-bottom:10px;font-family: 'Cairo', sans-serif;">

        <h3 style="margin-left:5px;">Figure 1.3.</h3>


            <img style="border:3px solid orange" src='{% static "Cimage/Capture 3.png" %}' class="card-img-top img-fluid" alt="...">


</div>









<div class="content" style="margin-top:10px;margin-bottom:10px;font-family: 'Cairo', sans-serif;">
    <h2 style="margin-left:5px;">Rules for Constructing Variables name</h2>

    <div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none; margin-left:5px;">
        <p>(a) A variables name is any combination of 1 to 31 alphabets, digits or underscores.</p>
        <p>(c) Some compilers allow variable whose names length could be up to 247 characters.</p>
        <p>(d) But this is not a good practice to create unnecessary long variables names.</p>
        <p>(e) Variable names must be meaningful according to program.</p>
        <p>(f) The first character in the variable name must be an alphabet or underscore( _ ).</p>
        <p>(g) No commas or blanks are allowed within the variable name.</p>
        <p>(h) No special symbol other than an underscore (as in
            <span style="font-weight:bold">gross_sal</span>) can be used in a variable name.</p>


    </div>
</div>




<h3 style="margin-bottom:-20px;margin-top:22px;font-family: 'Source Code Pro', monospace;">Example: </h3>
<div class="editor1"><div  id="editor11" style="height:200px;"><textarea>//The First C Program.

#include<stdio.h>
int main(){

    printf("Hello World");

}
</textarea>
</div>
</div>
<div class="output-button">
    <div class="">
	<button class="button3" data-toggle="collapse" data-target="#console.log"><i class="fa fa-angle-double-down" aria-hidden="true"></i> Get output</button>
</div>
</div>

<div class="collapse" id="console.log">
  <div class="output-showing">
    <h5>OUTPUT</h5>
      <h6>Hello World</h6>

  </div>
</div>


<div class="content" style="margin-top:30px;margin-bottom:10px;font-family: 'Cairo', sans-serif;border-left:7px solid #13D757;">
    <h2 style="margin-left:5px;">Getting Started With C.</h2>

    <div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none; margin-left:5px;">
        <p>While Learning C, We first learn alphabets, digits and special symbols.</p>
        <p>Then we learn how to combine them to form constants, variables and keywords.</p>
        <p>And finally, how to combine them to form an <span style="font-weight:bold">instruction.</span></p>
        <p>A group of instructions can then be combined to form a <span style="font-weight:bold">program. </span></p>
        <p>See Figure 1.1.</p>
    </div>
</div>






<div class="content" style="margin-top:30px;margin-bottom:10px;font-family: 'Cairo', sans-serif;border-left:7px solid orange;">

        <h2 style="margin-left:5px;">The C Character Set</h2>


     <div class="content" style="font-family: 'Source Code Pro', monospace;list-style-type:none; margin-left:5px;">
         <p>A character denotes any alphabet, digit or special symbol used to represent information.</p>

    </div>


</div>



{% endblock %}





{% block prev-next2 %}
<div class="" style="margin-bottom:40px; margin-top:10px;">
    <div class="" style="display:flex">
        <a href="{% url 'Cconst' %}" ><button  class="button card3"><i class='fa fa-angle-double-left'></i> Prev</button></a>
        <a href="{% url 'Ckey' %}"><button  class="button card3 lef">Next <i class='fa fa-angle-double-right'></i></button></a>
    </div>
</div>
{% endblock %}